@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        .vl 
        {
            border-right: 6px solid black;
            height: 500px;
            color: black;
            
        }
        p::before 
        {
            display: block;
            white-space: pre;
        } 
        .body
        {
            height: 100%
        }
    </style>
</head>
<body>


<div class="row">
    <div align="center" class="col-md-4 vl" style="background-color: rgba(13, 219, 238, 0.35)">
        <h2>USER PROFILE</h2>
        @Html.Raw(ViewBag.Name)
        <img src="~/Content/Images/UserIcon.png" style="width:50%;"/>
        <h3>Welcome</h3>
        @Html.ActionLink("Login", "Action", "Controller", null, new { @class = "btn btn-primary btn-large" })
        @Html.ActionLink("User info", "Index", "UserController", null, new { @class = "btn btn-primary btn-large" })
    </div>
    
    <div align="center" class="col-md-7">
        <h2>USER INFO</h2>
        <br />

        @Html.ActionLink("Create Goals", "Index", "Goal", null, new { @class = "btn btn-primary btn-large" })
        <p></p>
        @Html.ActionLink("Create Tasks", "Create", "Task", null, new { @class = "btn btn-primary btn-large" })
        <p></p>
        @Html.ActionLink("View Goals", "Index", "Goal", null, new { @class = "btn btn-primary btn-large" })
    </div>
    </div>
</body>